.title
{
	text-align:center;
}
.subtitle
{
	text-align: center;
}
.adhar_head
{
	margin-left: 521px;
}
.enternum 
{
    margin-left: 301px;
}
.scanned_aadhar 
{
    margin-left: 459px;
}
.adhar_terms {
    margin-left: 465px;
}
.sub_align {
    margin-left: 570px;

}
.bt_edit
{
	padding:5px;
	border-radius: 3px;
	width:80px;
	color:#000;
	box-shadow: none;
}
.socia_icon li
{
	margin-left: 12px;
}
.sampleimg
{
		height: 100px;
		column-width: 100px;
}
.top-right-img
{
	width:180px;
}
.pos_pro {
    margin-left: 359px;
}

.video-responsive{
    overflow:hidden;
    height: 350px;

}
.video-responsive iframe{
    
    height:100%;
    width:100%;
}
.center
{
	text-align: center;
}
.title
{
	text-align:left !important;
}
.cart-lis img
{
    height: 100px;
    width: 80px;
    margin-right: 10px;
}
.pro-det
{
	margin-left:20px !important;
}
.error 
{
	color: red;
	margin-left: 5px;
}
   
label.error 
{
	display: inline;
}
.modal-hea 
{
    margin-left: 167px;
}
.modal-but 
{
    margin-left: 192px;
	margin-top: 22px;
	border-radius: 4px;
}
.modal-butt
{
	margin-top:22px;
	margin-left:10px;
	border-radius: 4px;
}
.err
{
	color: #3dc64d;
	margin-left: 5px;
}
label.err
{
	display:inline;
}
h2.title.lines {
    margin-left: -37px;
}
.respon-post
{
	margin-left:114px;
}
input#password-field {
    width: 242px;
}
span.fa.fa-fw.fa-eye.field-icon.toggle-password {
    margin-top: 8px;
    margin-left: 0px

}
.multiple{
  display: contents !important;
  }
input#c_baddress {
    width: 445px;
}
.checkalign {
    margin-top: 32px;
}

.heading-caption
{
	font-size: 20px;
	margin-left: 30px;
}
.spacetop
{
	margin-top: 15px;
}
.subhead-categories
{
	color: #679cf7;
	font-size: 14px;
	font-weight: bold;
	margin-left: 28px;
	margin-top: 10px;
}
.categories-list li 
{
	list-style-type: none;
}
#nav_state
{
	height: 40px;
	margin-left: 20px;
	width: 148px;
}
/*.nav-state
{
	width: 148px !important;
}*/
.pro-category-btn
{
	background: #0841b7 !important;
	color:white !important;
	width: 100px;
	border-radius: 4px;
}
.service-major
{
	font-size: 30px;
}
.product-major
{
	font-size: 30px;
}
.ser-category-btn
{
	background: #FAD800 !important;
	color:black !important;
	width: 100px;
	border-radius: 4px;
	border: none;
}
.majorbtn-space
{
	margin-top: 20px;
	margin-bottom: 5px;
}
input[type=file]
{
	color: transparent;
}
.workman-pro
{
	width: 170px;
}
a#addWorkMan {
    margin-top: 41px;
}
.weImg
{
	margin-left: 15px;
}
.work-up-btn
{
	margin-left: 16px;
	margin-top: 6px;
}
.workman-photo
{
	margin-left: -4px;
}
.workman-aadhar-head
{
	margin-left: 18px;
}

.post-img-align
{
	margin-left: 16px;
}
.wg-img
{
	margin-left: 16px;
}
.bill-add
{
	width: 400px;
}
.service-proof
{
	margin-left: 30px;
}
.add-wish-btn
{
	margin-top: 16px;
	margin-left: -31px;
}
select#multis {
    height: 27px;
    width: 422px;
}
.location-ico
{
	font-size: 24px;
	color: black;
	padding-top: 9px;
	margin-left: 20px;
}
.mapicon-cur
{
	cursor: pointer; 
}
#demo{
	color: #7f7e7e;

}
.location-content {
	background: #e0e0e0; 
    height: 40px;
    margin-left: -41px;
    width: 224px;
}